<div class="menu_game" id="menu_game">
    <div class="menu__title">
        <span>Five Nights at Freddy's</span>
        <h1>SIGNAL LOST</h1>
    </div>
    <div class="menu__buttons">
        <button id="playBtn" data-i18n="menu.title_gamestart"></button>
        <button id="settingsBtn" data-i18n="menu.title_settings"></button>
        <button id="CreditsBtn" data-i18n="menu.title_credits"></button>
        <button id="exitBtn" data-i18n="menu.exit"></button>
    </div>
</div>