<div class="menu_game" id="menu_game">
    <div class="menu__title">
        <span>Five Nights at Freddy's</span>
        <h1>SIGNAL LOST</h1>
    </div>
    <div class="menu__buttons">
        <button id="playBtn">Comenzar Partida</button>
        <button id="CreditsBtn">Creditos</button>
        <button id="exitBtn">salir</button>
    </div>
</div>