<div class="warning_screen" id="warning_screen" style="display: none;">
    <div class="warning_card">
        <img src="icons/warning.svg" alt="warning icon">
        <p>
            Para una mejor experiencia, se recomienda jugar con auriculares.
            Esto permitirá disfrutar plenamente de la ambientación, los efectos de sonido y la inmersión
        </p>
    </div>
    <div class="warning_card">
        <img src="icons/headphone.svg" alt="headphone icon">
        <p>
            Este juego ha sido diseñado para ofrecer una experiencia inmersiva e intensa. 
            Durante la partida vas a encontrarte con: <br><br>
            Luces intermitentes y destellos repentinos <br>
            Sonidos fuertes, estridentes y sobresaltos inesperados <br>
            Escenas que pueden generar tensión, miedo o ansiedad
        </p>
    </div>
</div>