<div class="warning_screen" id="warning_screen" style="display: none;">
    <div class="warning_card">
        <img src="icons/warning.svg" alt="warning icon">
        <p data-i18n="warning.headphones"></p>
    </div>
    <div class="warning_card">
        <img src="icons/headphone.svg" alt="headphone icon">
        <p data-i18n="warning.intenseExperience"></p>
    </div>
</div>