<div id="settings" class="settings" style="display:none;">
    <h1 data-i18n="settings.title"></h1>

    <div>
        <label data-i18n="settings.languageLabel"></label>
        <button id="lang-en-btn">English</button>
        <button id="lang-es-btn">Español</button>
    </div>

    <button id="back-menu-btn" data-i18n="settings.back"></button>
</div>
