<div class="credits" id="credits" style="display:none;">
    <h1 data-i18n="credits.title"></h1>

    <div class="section-content">
        <!-- Equipo / Autor -->
        <section class="credits-section">
            <h2 data-i18n="credits.team"></h2>
            <ul>
                <li><strong data-i18n="credits.developer"></strong>Agustín Lezcano - Bytech Technology</li>
                <li><strong data-i18n="credits.artist"></strong>Agustín Lezcano - Bytech Technology</li>
                <li><strong data-i18n="credits.music"></strong>Agustín Lezcano - Bytech Technology</li>
            </ul>
        </section>

        <!-- Recursos externos -->
        <section class="credits-section">
            <h2 data-i18n="credits.resources"></h2>
            <ul>
                <li><strong data-i18n="credits.libs"></strong>Electron, Howler.js</li>
            </ul>
        </section>

        <!-- Agradecimientos -->
        <section class="credits-section thanks">
            <h2 data-i18n="credits.thanks"></h2>
            <p data-i18n="credits.thanksText"></p>
        </section>

        <!-- Información opcional -->
        <section class="credits-section">
            <h2 data-i18n="credits.info"></h2>
            <ul>
                <li><strong data-i18n="credits.version"></strong>1.0</li>
                <li><strong data-i18n="credits.year"></strong>2025</li>
                <li>
                    <span data-i18n="credits.github"></span>
                    <a href="https://github.com/Bytech-Technology" data-i18n="credits.githubName"></a>
                </li>
            </ul>
        </section>
    </div>

    <button id="closeCredits" data-i18n="credits.back">volver</button>
</div>