<div id="game_over" class="game_over" style="display:none;">
  <div class="game-over-screen">
    <img src="images/game_over_title.png" alt="game over title image">
    <p id="killerInfo"></p>
  </div>
  <div class="btn">
     <button id="retryBtn" data-i18n="game_over.retry"></button>
    <button id="menuBtn" data-i18n="game_over.menu"></button>
  </div>
</div>
